<!DOCTYPE html>
<html>
  <head>
    <title>Admin Home</title>
  </head>
  <body>
    <h1>Bienvenido, Administrador <%= user.username %>!</h1>

    <p>Este es tu panel de administración.</p>

    <a href="/log-out">Cerrar sesión</a>
  </body>
</html>
