<!DOCTYPE html>
<html>
  <head>
    <title>User Home</title>
  </head>
  <body>
    <h1>Bienvenido, <%= user.nombre %>!</h1>

    <p>Este es tu panel de usuario.</p>

    <a href="/log-out">Cerrar sesión</a>
  </body>
</html>
